<div id="demo_presentation">
  <h3>Demo edition[XML-TEI]</h3>
  <p>This is a text, this is a <em>test</em>.This is a text, this is a <em>test</em>.This is a text, this is a <em>test</em>.</p>


 <div class="container">
  <div class="row">
    <div id="r1" class="col-sm-3">
      <a href="./demo_lorem.xml/c1.html">MaX</a>
      <div class="demo_text">
        Notes, corrections, ...
      </div>
    </div>
    <div class="col-sm-1"></div>
    <div id="r2" class="col-sm-3">
      <a href="./demo_lorem_2.xml/c2.1.html">Démo</a>
      <div class="demo_text">Critical Apparat ...</div>
    </div>
    <div class="col-sm-1"></div>
    <div id="r3" class="col-sm-3">
      <a href="./demo_lorem_3.xml/c3.1.html">TEI</a>
      <div class="demo_text">Images ...</div>
    </div>
  </div>
</div>

</div>
