<div class="index">
  <h1>Artistes</h1>
  <fieldset id="B">
    <legend class="collapsible">B</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','')">Bonaventura Peeters</a> : <a class="fiche" href="/dyrin/doc/ours_polaire.html#">Ours polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="D">
    <legend class="collapsible">D</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071442413840200')">De Boodt Anselmus Boëtius</a> : <a class="fiche" href="/dyrin/doc/renard_polaire.html#202204071442413840200">Renard polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071709445970200')">Dürer Albrecht</a> : <a class="fiche" href="/dyrin/doc/morse.html#202204071709445970200">Morse</a>
      </p>
    </div>
  </fieldset>
</div>