<div class="index">
  <h1>Personnes</h1>
  <fieldset id="A">
    <legend class="collapsible">A</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.863')">Albert le Grand</a> : <a class="fiche" href="/dyrin/doc/narval.html#863">Narval</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1560248919902')">Athénée de Naucratis</a> : <a class="fiche" href="/dyrin/doc/ours_polaire.html#1560248919902">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204121420366850200')">Adam de Brême</a> : <a class="fiche" href="/dyrin/doc/ours_polaire.html#202204121420366850200">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204121607062450200')">ʿAynī (al-)</a> : <a class="fiche" href="/dyrin/doc/ours_polaire.html#202204121607062450200">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','')">al-Ashraf</a> : <a class="fiche" href="/dyrin/doc/ours_polaire.html#">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204271543441850200')">Arcussia Charles</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204271543441850200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.643')">Aldrovandi Ulisse</a> : <a class="fiche" href="/dyrin/doc/glouton.html#643">Glouton</a> ; <a class="fiche" href="/dyrin/doc/macareux_moine.html#643">Macareux moine</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1403276181110')">Ambrosini Bartolomeo</a> : <a class="fiche" href="/dyrin/doc/glouton.html#1403276181110">Glouton</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="B">
    <legend class="collapsible">B</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071031246910200')">Bartholin Caspar</a> : <a class="fiche" href="/dyrin/doc/narval.html#202204071031246910200">Narval</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071119507410200')">Bartholin Thomas</a> : <a class="fiche" href="/dyrin/doc/narval.html#202204071119507410200">Narval</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1518516239100')">Barthélemy l’Anglais</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#1518516239100">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#1518516239100">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','')">Bonaventura Peeters</a> : <a class="fiche" href="/dyrin/doc/ours_polaire.html#">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1560264205665')">Belon Pierre</a> : <a class="fiche" href="/dyrin/doc/morse.html#1560264205665">Morse</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="C">
    <legend class="collapsible">C</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1568122947165')">Caius John</a> : <a class="fiche" href="/dyrin/doc/macareux_moine.html#1568122947165">Macareux moine</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#1568122947165">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202206021644187810200')">Corbechon Jean</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202206021644187810200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.2022042219082960200')">Cardan Jérôme</a> : <a class="fiche" href="/dyrin/doc/glouton.html#2022042219082960200">Glouton</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204251611271160200')">Croll Oswald</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204251611271160200">Glouton</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.674')">Conrad Gesner</a> : <a class="fiche" href="/dyrin/doc/glouton.html#674">Glouton</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="D">
    <legend class="collapsible">D</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071442413840200')">De Boodt Anselme Boëtius</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204071442413840200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071442413840200')">De Boodt Anselmus Boëtius</a> : <a class="fiche" href="/dyrin/doc/renard_polaire.html#202204071442413840200">Renard polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071709445970200')">Dürer Albrecht</a> : <a class="fiche" href="/dyrin/doc/morse.html#202204071709445970200">Morse</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="E">
    <legend class="collapsible">E</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071342128560200')">Erik le Rouge</a> : <a class="fiche" href="/dyrin/doc/eider.html#202204071342128560200">Eider</a> ; <a class="fiche" href="/dyrin/doc/renard_polaire.html#202204071342128560200">Renard polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071555464710200')">Écluse </a> : <a class="fiche" href="/dyrin/doc/eider.html#202204071555464710200">Eider</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="F">
    <legend class="collapsible">F</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1459342771291')">Frédéric II Hohenstaufen</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#1459342771291">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#1459342771291">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204221755546020200')">Friis Peder Claussøn</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204221755546020200">Glouton</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="G">
    <legend class="collapsible">G</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204080959074970200')">Gaston Phébus</a> : <a class="fiche" href="/dyrin/doc/renne.html#202204080959074970200">Renne</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.674')">Gesner Conrad</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#674">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/macareux_moine.html#674">Macareux moine</a> ; <a class="fiche" href="/dyrin/doc/renne.html#674">Renne</a> ; <a class="fiche" href="/dyrin/doc/elan.html#674">Élan</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204061717174830200')">Guðmundsson Jón lærði</a> : <a class="fiche" href="/dyrin/doc/morse.html#202204061717174830200">Morse</a> ; <a class="fiche" href="/dyrin/doc/narval.html#202204061717174830200">Narval</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204261533031960200')">Gervais de Tilbury</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204261533031960200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204261622568260200')">Giraldus Cambrensis</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204261622568260200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204271725212780200')">Guillaume de Machaut</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204271725212780200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204191802148230200')">GilbertdeLannoy</a> : <a class="fiche" href="/dyrin/doc/elan.html#202204191802148230200">Élan</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','')">Gustave Ier Vasa</a> : <a class="fiche" href="/dyrin/doc/glouton.html#">Glouton</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="H">
    <legend class="collapsible">H</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204201837306450200')">Heberstein Sigismond</a> : <a class="fiche" href="/dyrin/doc/ours_polaire.html#202204201837306450200">Ours polaire</a> ; <a class="fiche" href="/dyrin/doc/elan.html#202204201837306450200">Élan</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.349')">Henri III d’Angleterre</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#349">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/elan.html#349">Élan</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071513441580200')">Hansen Schønnebøl Erik</a> : <a class="fiche" href="/dyrin/doc/macareux_moine.html#202204071513441580200">Macareux moine</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','')">HectorBoece</a> : <a class="fiche" href="/dyrin/doc/morse.html#">Morse</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="I">
    <legend class="collapsible">I</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.20220421103203570200')">Irenicus Franciscus</a> : <a class="fiche" href="/dyrin/doc/elan.html#20220421103203570200">Élan</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="J">
    <legend class="collapsible">J</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1560264783660')">Jean de Cuba</a> : <a class="fiche" href="/dyrin/doc/renne.html#1560264783660">Renne</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1453719411471')">Jules César</a> : <a class="fiche" href="/dyrin/doc/elan.html#1453719411471">Élan</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204251455405710200')">Joachim Camerarius</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204251455405710200">Glouton</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="L">
    <legend class="collapsible">L</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071555464710200')">L’Écluse Charles</a> : <a class="fiche" href="/dyrin/doc/macareux_moine.html#202204071555464710200">Macareux moine</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="M">
    <legend class="collapsible">M</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204081037225880200')">Mennabeni Appolo</a> : <a class="fiche" href="/dyrin/doc/renne.html#202204081037225880200">Renne</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204081037225880200')">Menabeni Apollonio</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204081037225880200">Glouton</a> ; <a class="fiche" href="/dyrin/doc/elan.html#202204081037225880200">Élan</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204221815451680200')">Miechowita Maciej</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204221815451680200">Glouton</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1567493091521')">Magnus Olaus</a> : <a class="fiche" href="/dyrin/doc/glouton.html#1567493091521">Glouton</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="N">
    <legend class="collapsible">N</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1458915214165')">Neckam Alexandre</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#1458915214165">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#1458915214165">Ours polaire</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.20220427114910410200')">Nuwayrī (al-)</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#20220427114910410200">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="O">
    <legend class="collapsible">O</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1567493091521')">Olaus Magnus</a> : <a class="fiche" href="/dyrin/doc/glouton.html#1567493091521">Glouton</a> ; <a class="fiche" href="/dyrin/doc/harfang.html#1567493091521">Harfang des neiges</a> ; <a class="fiche" href="/dyrin/doc/renne.html#1567493091521">Renne</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071717381090200')">Ortelius Abraham</a> : <a class="fiche" href="/dyrin/doc/morse.html#202204071717381090200">Morse</a> ; <a class="fiche" href="/dyrin/doc/renard_polaire.html#202204071717381090200">Renard polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="P">
    <legend class="collapsible">P</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','')">Pline l’Ancien</a> : <a class="fiche" href="/dyrin/doc/morse.html#">Morse</a> ; <a class="fiche" href="/dyrin/doc/renne.html#">Renne</a> ; <a class="fiche" href="/dyrin/doc/elan.html#">Élan</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.xxx')">Paul Diacre</a> : <a class="fiche" href="/dyrin/doc/renne.html#xxx">Renne</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202203241146019690100')">Petrus Candidus Decembrius</a> : <a class="fiche" href="/dyrin/doc/narval.html#202203241146019690100">Narval</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="R">
    <legend class="collapsible">R</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204141745380710200')">Renaud de Beaujeu</a> : <a class="fiche" href="/dyrin/doc/eider.html#202204141745380710200">Eider</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="S">
    <legend class="collapsible">S</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.510')">Solin</a> : <a class="fiche" href="/dyrin/doc/renne.html#510">Renne</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204271518551050200')">Simon de Kéza</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204271518551050200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.776')">Scaliger Jules César</a> : <a class="fiche" href="/dyrin/doc/glouton.html#776">Glouton</a> ; <a class="fiche" href="/dyrin/doc/renard_polaire.html#776">Renard polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="T">
    <legend class="collapsible">T</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.1458914957797')">Thomas de Cantimpré</a> : <a class="fiche" href="/dyrin/doc/narval.html#1458914957797">Narval</a> ; <a class="fiche" href="/dyrin/doc/renne.html#1458914957797">Renne</a> ; <a class="fiche" href="/dyrin/doc/elan.html#1458914957797">Élan</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204261239079940200')">Thomas de Weston</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204261239079940200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204151136520090200')">Þorláksson Þórður</a> : <a class="fiche" href="/dyrin/doc/eider.html#202204151136520090200">Eider</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="V">
    <legend class="collapsible">V</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071020436170200')">Vielheuer Christoph</a> : <a class="fiche" href="/dyrin/doc/narval.html#202204071020436170200">Narval</a>
      </p>
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071645552340200')">Veer Gerrit</a> : <a class="fiche" href="/dyrin/doc/morse.html#202204071645552340200">Morse</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="W">
    <legend class="collapsible">W</legend>
    <div class="developper">
      <p class="entries">
        <a class="personne" onclick="MAX.plugins['thesauri'].showInWindow('personnes','pddn_p.202204071127345330200')">Worm Ole</a> : <a class="fiche" href="/dyrin/doc/eider.html#202204071127345330200">Eider</a> ; <a class="fiche" href="/dyrin/doc/narval.html#202204071127345330200">Narval</a>
      </p>
    </div>
  </fieldset>
</div>