<div class="index">
  <h1>Lieux</h1>
  <fieldset id="A">
    <legend class="collapsible">A</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="1620728822083" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.1620728822083')">Allemagne</a> : <a class="fiche" href="/dyrin/doc/elan.html#1620728822083">Élan</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204271452516770200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204271452516770200')">Altaï</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204271452516770200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="lieu" id="23" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.23')">Angleterre</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#23">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/macareux_moine.html#23">Macareux moine</a> ; <a class="fiche" href="/dyrin/doc/elan.html#23">Élan</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204271452019220200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204271452019220200')">Arménie</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204271452019220200">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="B">
    <legend class="collapsible">B</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="202204271446266370200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204271446266370200')">Bargu</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204271446266370200">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204221744035720200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204221744035720200')">Bergen</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204221744035720200">Glouton</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204071159390470200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204071159390470200')">Bjarneyjar</a> : <a class="fiche" href="/dyrin/doc/renard_polaire.html#202204071159390470200">Renard polaire</a>
      </p>
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Bruges</a> : <a class="fiche" href="/dyrin/doc/narval.html#">Narval</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="D">
    <legend class="collapsible">D</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="1393585767807" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.1393585767807')">Danemark</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#1393585767807">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#1393585767807">Ours polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="E">
    <legend class="collapsible">E</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Égypte</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#">Ours polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="F">
    <legend class="collapsible">F</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="202204080954467790200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204080954467790200')">Finlande</a> : <a class="fiche" href="/dyrin/doc/renne.html#202204080954467790200">Renne</a>
      </p>
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Flandres</a> : <a class="fiche" href="/dyrin/doc/narval.html#">Narval</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204071610512910200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204071610512910200')">Féroé</a> : <a class="fiche" href="/dyrin/doc/eider.html#202204071610512910200">Eider</a> ; <a class="fiche" href="/dyrin/doc/macareux_moine.html#202204071610512910200">Macareux moine</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="G">
    <legend class="collapsible">G</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="202203231616430810100" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202203231616430810100')">Groenland</a> : <a class="fiche" href="/dyrin/doc/narval.html#202203231616430810100">Narval</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="H">
    <legend class="collapsible">H</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="202204251027093560200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204251027093560200')">Halsingland</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204251027093560200">Glouton</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204071144029250200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204071144029250200')">Helluland </a> : <a class="fiche" href="/dyrin/doc/renard_polaire.html#202204071144029250200">Renard polaire</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204201753427690200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204201753427690200')">Hercynia (forêt hercynienne)</a> : <a class="fiche" href="/dyrin/doc/elan.html#202204201753427690200">Élan</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="I">
    <legend class="collapsible">I</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="1393324858313" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.1393324858313')">Irlande</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#1393324858313">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202203211555415770100" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202203211555415770100')">Islande</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202203211555415770100">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/macareux_moine.html#202203211555415770100">Macareux moine</a> ; <a class="fiche" href="/dyrin/doc/morse.html#202203211555415770100">Morse</a> ; <a class="fiche" href="/dyrin/doc/narval.html#202203211555415770100">Narval</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#202203211555415770100">Ours polaire</a> ; <a class="fiche" href="/dyrin/doc/renard_polaire.html#202203211555415770100">Renard polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="L">
    <legend class="collapsible">L</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="202204081020166080200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204081020166080200')">Laponie</a> : <a class="fiche" href="/dyrin/doc/renne.html#202204081020166080200">Renne</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204191815014110200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204191815014110200')">Lituanie</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204191815014110200">Glouton</a> ; <a class="fiche" href="/dyrin/doc/elan.html#202204191815014110200">Élan</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204071501182460200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204071501182460200')">Lofoten</a> : <a class="fiche" href="/dyrin/doc/macareux_moine.html#202204071501182460200">Macareux moine</a>
      </p>
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Londres</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/elan.html#">Élan</a>
      </p>
      <p class="entries">
        <a class="lieu" id="20220407145602540200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.20220407145602540200')">Lundey</a> : <a class="fiche" href="/dyrin/doc/macareux_moine.html#20220407145602540200">Macareux moine</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="M">
    <legend class="collapsible">M</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="202204081028506630200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204081028506630200')">Moscovie</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204081028506630200">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/glouton.html#202204081028506630200">Glouton</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#202204081028506630200">Ours polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="N">
    <legend class="collapsible">N</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Naples</a> : <a class="fiche" href="/dyrin/doc/narval.html#">Narval</a>
      </p>
      <p class="entries">
        <a class="lieu" id="1393585743693" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Norvège</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/glouton.html#">Glouton</a> ; <a class="fiche" href="/dyrin/doc/macareux_moine.html#">Macareux moine</a> ; <a class="fiche" href="/dyrin/doc/ours_polaire.html#">Ours polaire</a> ; <a class="fiche" href="/dyrin/doc/renard_polaire.html#">Renard polaire</a> ; <a class="fiche" href="/dyrin/doc/renne.html#">Renne</a> ; <a class="fiche" href="/dyrin/doc/elan.html#">Élan</a>
      </p>
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Nottingham</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="O">
    <legend class="collapsible">O</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="20220407163928660200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.20220407163928660200')">Orkney (îles)</a> : <a class="fiche" href="/dyrin/doc/morse.html#20220407163928660200">Morse</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204271514450870200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204271514450870200')">Oural</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204271514450870200">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="P">
    <legend class="collapsible">P</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="1523885840753" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.1523885840753')">Pays-Bas</a> : <a class="fiche" href="/dyrin/doc/morse.html#1523885840753">Morse</a>
      </p>
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Prusse</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204081124188450200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204081124188450200')">Pôle Nord</a> : <a class="fiche" href="/dyrin/doc/renne.html#202204081124188450200">Renne</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="R">
    <legend class="collapsible">R</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="202204081028506630200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204081028506630200')">Russie</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204081028506630200">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="S">
    <legend class="collapsible">S</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="1609258334937" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.1609258334937')">Saintes</a> : <a class="fiche" href="/dyrin/doc/morse.html#1609258334937">Morse</a>
      </p>
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Scandinavie</a> : <a class="fiche" href="/dyrin/doc/elan.html#">Élan</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204071404159290200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204071404159290200')">Scythie</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#202204071404159290200">Gerfaut</a> ; <a class="fiche" href="/dyrin/doc/renard_polaire.html#202204071404159290200">Renard polaire</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204081013151610200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204081013151610200')">Suède</a> : <a class="fiche" href="/dyrin/doc/glouton.html#202204081013151610200">Glouton</a> ; <a class="fiche" href="/dyrin/doc/renne.html#202204081013151610200">Renne</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="T">
    <legend class="collapsible">T</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Tartarie</a> : <a class="fiche" href="/dyrin/doc/gerfaut.html#">Gerfaut</a>
      </p>
      <p class="entries">
        <a class="lieu" id="202204191816257070200" onclick="MAX.plugins['thesauri'].showInWindow('lieux','pddn_l.202204191816257070200')">Trakai</a> : <a class="fiche" href="/dyrin/doc/elan.html#202204191816257070200">Élan</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="V">
    <legend class="collapsible">V</legend>
    <div class="developper">
      <p class="entries">
        <a class="lieu" id="" onclick="MAX.plugins['thesauri'].showInWindow('lieux','')">Værøy</a> : <a class="fiche" href="/dyrin/doc/macareux_moine.html#">Macareux moine</a>
      </p>
    </div>
  </fieldset>
</div>