<div class="index">
  <h1>Zoonymes</h1>
  <fieldset id="A">
    <legend class="collapsible">A</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">aedr</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">aedur</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">ahma</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
      <p class="entries">
        <span class="zoonyme">anas arctica</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">anas mollissima</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">anas plumis mollissimis</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">arctic fox</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">älg</span> : <a class="fiche" href="/dyrin/doc/elan.html">Élan</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="B">
    <legend class="collapsible">B</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">bāz abyaḍ</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="C">
    <legend class="collapsible">C</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">carcajou</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
      <p class="entries">
        <span class="zoonyme">caribou</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">chouette harfang</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">common eider</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="D">
    <legend class="collapsible">D</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">dubb abyaḍ (دبّ ابيض)</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="E">
    <legend class="collapsible">E</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">edredone</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">eider</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">eidereend</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">eiderente</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">eisbär</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">ejder</span> : <a class="fiche" href="/dyrin/doc/eider.html">Eider</a>
      </p>
      <p class="entries">
        <span class="zoonyme">elch</span> : <a class="fiche" href="/dyrin/doc/elan.html">Élan</a>
      </p>
      <p class="entries">
        <span class="zoonyme">elgur</span> : <a class="fiche" href="/dyrin/doc/elan.html">Élan</a>
      </p>
      <p class="entries">
        <span class="zoonyme">elk</span> : <a class="fiche" href="/dyrin/doc/elan.html">Élan</a>
      </p>
      <p class="entries">
        <span class="zoonyme">élan</span> : <a class="fiche" href="/dyrin/doc/elan.html">Élan</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="F">
    <legend class="collapsible">F</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">fjallarefur</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">fjeldrœv</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">fjelfross</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
      <p class="entries">
        <span class="zoonyme">fjällräv</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">fjälluggla</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">flejjrev</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">fratercula marina</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">fálki</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="G">
    <legend class="collapsible">G</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">gallerous</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">geirfalki</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
      <p class="entries">
        <span class="zoonyme">gerfalke</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
      <p class="entries">
        <span class="zoonyme">gerfaut</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
      <p class="entries">
        <span class="zoonyme">giervalk</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
      <p class="entries">
        <span class="zoonyme">glouton</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
      <p class="entries">
        <span class="zoonyme">gulo</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
      <p class="entries">
        <span class="zoonyme">gyrfalcon</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
      <p class="entries">
        <span class="zoonyme">gyrofalco</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="H">
    <legend class="collapsible">H</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">harfang des neiges</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">harfång</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">heimskautarefur</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">herodius</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
      <p class="entries">
        <span class="zoonyme">hierfalco</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
      <p class="entries">
        <span class="zoonyme">hreinn</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">hvalross</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">hvitabjorn</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="I">
    <legend class="collapsible">I</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">isatis</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">isbjorn</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">isbjörn</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">ísbjörn</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="J">
    <legend class="collapsible">J</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">jaktfalk</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
      <p class="entries">
        <span class="zoonyme">jerv</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
      <p class="entries">
        <span class="zoonyme">järv</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="K">
    <legend class="collapsible">K</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">kречет (krechet)</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="L">
    <legend class="collapsible">L</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">lunde</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">lundi</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">lunne</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">lunnefågel</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="M">
    <legend class="collapsible">M</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">macareux moine</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">melrakke</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">melrakki</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">monoceros</span> : <a class="fiche" href="/dyrin/doc/narval.html">Narval</a>
      </p>
      <p class="entries">
        <span class="zoonyme">moose</span> : <a class="fiche" href="/dyrin/doc/elan.html">Élan</a>
      </p>
      <p class="entries">
        <span class="zoonyme">mormonas</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">morse</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">morsus</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">morž (морж)</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">mursu</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="N">
    <legend class="collapsible">N</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">naali</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">narhval</span> : <a class="fiche" href="/dyrin/doc/narval.html">Narval</a>
      </p>
      <p class="entries">
        <span class="zoonyme">narval</span> : <a class="fiche" href="/dyrin/doc/narval.html">Narval</a>
      </p>
      <p class="entries">
        <span class="zoonyme">narwal</span> : <a class="fiche" href="/dyrin/doc/narval.html">Narval</a>
      </p>
      <p class="entries">
        <span class="zoonyme">narwhal</span> : <a class="fiche" href="/dyrin/doc/narval.html">Narval</a>
      </p>
      <p class="entries">
        <span class="zoonyme">nyctea</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">náhvalr</span> : <a class="fiche" href="/dyrin/doc/narval.html">Narval</a>
      </p>
      <p class="entries">
        <span class="zoonyme">náhvalur</span> : <a class="fiche" href="/dyrin/doc/narval.html">Narval</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="O">
    <legend class="collapsible">O</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">orignal</span> : <a class="fiche" href="/dyrin/doc/elan.html">Élan</a>
      </p>
      <p class="entries">
        <span class="zoonyme">ours blanc</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">ours polaire</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="P">
    <legend class="collapsible">P</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">papageitaucher</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">pica marina</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">plaorrœv</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">polar bear</span> : <a class="fiche" href="/dyrin/doc/ours_polaire.html">Ours polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">polarœv</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">puffin</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
      <p class="entries">
        <span class="zoonyme">pulcinella di mare</span> : <a class="fiche" href="/dyrin/doc/macareux_moine.html">Macareux moine</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="R">
    <legend class="collapsible">R</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">rangier</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">rein</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">reindeer</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">ren</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">renard arctique</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">renard bleu</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">renard polaire</span> : <a class="fiche" href="/dyrin/doc/renard_polaire.html">Renard polaire</a>
      </p>
      <p class="entries">
        <span class="zoonyme">rendier</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">renne</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">reno</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">rentier</span> : <a class="fiche" href="/dyrin/doc/renne.html">Renne</a>
      </p>
      <p class="entries">
        <span class="zoonyme">romshvalr</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">rosmarus</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">rossomak</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
      <p class="entries">
        <span class="zoonyme">rossomaka</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
      <p class="entries">
        <span class="zoonyme">rostungr</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">rotallinus</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="S">
    <legend class="collapsible">S</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">schnee-eule</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">snowy owl</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">snæugla</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">snøugle</span> : <a class="fiche" href="/dyrin/doc/harfang.html">Harfang des neiges</a>
      </p>
      <p class="entries">
        <span class="zoonyme">sunqur</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="T">
    <legend class="collapsible">T</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">tricheco</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">turġrūl</span> : <a class="fiche" href="/dyrin/doc/gerfaut.html">Gerfaut</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="U">
    <legend class="collapsible">U</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">unicornum marinum</span> : <a class="fiche" href="/dyrin/doc/narval.html">Narval</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="V">
    <legend class="collapsible">V</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">valross</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">vielfraß</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
    </div>
  </fieldset>
  <fieldset id="W">
    <legend class="collapsible">W</legend>
    <div class="developper">
      <p class="entries">
        <span class="zoonyme">walross</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">walrus</span> : <a class="fiche" href="/dyrin/doc/morse.html">Morse</a>
      </p>
      <p class="entries">
        <span class="zoonyme">wolverine</span> : <a class="fiche" href="/dyrin/doc/glouton.html">Glouton</a>
      </p>
    </div>
  </fieldset>
</div>