<div id="dabout">
<body>

<h1>À propos</h1>

<p>Ce site est issu du programme de recherche <a href="https://www.craham.cnrs.fr/dyrin/">Dyrin</a>, porté par le <a href="https://www.craham.cnrs.fr/">CRAHAM</a>, dirigé par <a href="https://www.craham.cnrs.fr/thierry-buquet/">Thierry Buquet</a>, ingénieur de recherche CNRS.</p>

<p>La base de données bibliographique (sources, études, iconographie) a été constituée par Thierry Buquet, avec l’appui en 2021 d’Elsa Van Kote, stagiaire au CRAHAM dans le cadre de sa première année de Master  « <a href="https://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire">Technologies numériques appliquées à l’histoire</a> » de l’École nationale des chartes. Elsa Van Kote a, sous la direction de Thierry Buquet, durant les deux mois de stage (25 mai-23 juillet 2021), effectué le dépouillement bibliographique de plusieurs ouvrages  et mémoires sur la faune scandinave, ainsi que de nombreuses sources norroises, notamment des sagas. Elle a ainsi considérablement enrichi notre corpus de sources et alimenté la base bibliographique Zotero du projet.</p>

<p>Le présent site web de démonstration a été réalisé par Elsa Van Kote durant son stage de Master 2 (avril-juillet 2002) « <a href="https://www.chartes.psl.eu/fr/cursus/master-technologies-numeriques-appliquees-histoire">Technologies numériques appliquées à l’histoire</a> », la seconde année étant consacrée aux aspects plus spécifiquement numériques. Elsa Van Kote a été principalement encadrée par Pierre-Yves Buard (Université de Caen), au sein du <a href="https://www.unicaen.fr/recherche/mrsh/document_numerique">Pôle Document numérique de la MRSH</a> et par Thierry Buquet.</p>




</body>
</div>
