<div id="accueil">
<body>

<h1>Accueil</h1>

<p>Le programme Dyrin a pour objet d’étude la connaissance spécifique du Grand Nord (régions arctique et subarctique), de l’époque carolingienne au XVIe siècle, à travers la transmission des savoirs zoologiques (encyclopédies, etc.) et des pratiques humaines (chasse, pêche, commerce des matières animales).</p>

<p>Ce site web constitue  une base de données bibliographiques (sources, études, iconographie) relative à cette faune (ours polaire, morse, narval, baleines et autres animaux et monstres marins, mais aussi faucons gerfauts, rennes, élans, petits animaux à fourrure, etc.). Il ne s’agit pas d’une encyclopédie, ni d’une base textuelle de sources. Dyrin propose un outil orienté « recherche », permettant aux étudiants et aux chercheurs d’accéder à une bibliographie la plus complète possible sur chaque animal, mais aussi de pouvoir consulter les sources en ligne ; il s’agit donc d’une sorte d’« atelier du chercheur », permettant, à partir d’une liste de référence de consulter des référentiels, des sources en ligne, d’importer des références bibliographie, etc.</p>

<p>La version actuelle du site est un démonstrateur, réalisé sur la base de 11 fiches « animal », lesquelles sont pour la plupart incomplètes sur leur contenu. Il s’agit d’un jeu de test qui a permis de valider les choix d’encodage, de normalisation et d’indexation.</p>

<p>La base en ligne constitue un dictionnaire de la faune septentrionale, classée par espèce, répertoriant les sources où chaque animal est mentionné, une bibliographie d’études spécifiques, et une sélection d’images (sources et images n’étant pas intégrées dans la base, mais renvoyant à des ressources consultables librement en ligne). Pour chaque animal, sont listés des liens vers des référentiels (ITIS, Rameau, Thezoo, dbpedia, etc.). Chaque notice est accompagnée d’une brève présentation zoologique et historique.</p>

<p>La bibliographie est consultable en ligne sur  <a href="https://www.zotero.org/groups/390215/dyrin/library">Zotero.org</a>, indépendamment de la publication en ligne. Chaque référence bibliographique (source primaire ou étude) mentionée sur le site Dyrin est liée  à son enregsitrement dans la base Zotero publique, permettant de facilement récupérer les notices pour un usage personnel.</p>

<p>Pour les sources textuelles et iconographiques, nous avons privilégié des liens pointant vers des ressources en ligne en accès ouvert, en donnant la priorité aux données en IIIF, ce qui permet, par exemple, de pouvoir  de consulter un extrait en contexte, par la consultation de l’ouvrage source en haute définition.</p>

<p>Chaque source est indexée par des mots clés : lieux, thèmes, animaux, zoonymes. Cette indexation matière permet de donner un indication sur ce qui peut être trouvé dans le passage mentionnant un animal donné. Les lieux et les personnes sont indexés en utilisant les Thesaurus partagés du Pôle du Document numérique de la MRSH de l’Université de Caen (<a href="https://thesauri.unicaen.fr/autorites/thesauri/">https://thesauri.unicaen.fr/autorites/thesauri/</a>). L’indexation thématique et zoologique s’appuie sur le thesaurus Pactols (<a href="https://pactols.frantiq.fr/opentheso/">https://pactols.frantiq.fr/opentheso/</a>), permettant le cas échéant, d’accéder à une bibliographie complémentaire sur un thème donné dans la base du reséau <a href="https://catalogue.frantiq.fr/">Frantiq</a>.</p>

<p>Concernant les index de personnes et d’auteurs, le choix de classement a été fait de façon mixte : par le prénom ou nom d’usage pour les périodes antiques et médiévales, par le nom de famille à partir du XVe siècle (avec de rares exceptions). Exemples : Thomas de Cantimpré (XIIIe siècle) est classé à « T », alors que Conrad Gesner (XVIe siècle) est classé sous la lettre « G ».</p>

<p>Les notices sont encodées en XML-TEI.</p>

</body>
</div>
