<div id="contacts">
<body>

<h1 id="toc_0">Contacts</h1>

<p>Porteur de projet</p>

<ul>
<li>Thierry Buquet <a href="https://www.craham.cnrs.fr/thierry-Buquet/">Page web</a>. Ingénieur de recherche CNRS au <a href="https://www.craham.cnrs.fr/">Craham</a></li>
</ul>

<p>Aspects techniques : </p>

<ul>
<li>Elsa Van Kote (elsa.vk.pro@mailo.com)</li>
<li>Pierre-Yves Buard, cf. Page web du <a href="https://www.unicaen.fr/recherche/mrsh/document_numerique">Pôle Document numérique</a></li>
</ul>




</body>
</div>
