<div id="index" class="index">
<h1>Index</h1>

<section class="bloc" style="text-align: center;">
  <table>
    <tr>
    <td>
  <a href="/dyrin/index/lieux.html">
    <div class="index_lieux">
  <h1>Lieux</h1>
    <img src="ui/images/static/lieux.svg"
    alt="partie de la carte Islandia de 1587 en provenance de la BNF"
    class="responsive">
  </img>
  </div>
</a>
</td>
<td>
<a href="/dyrin/index/personnes.html">
  <div class="index_personnes">
  <h1>Personnes</h1>
    <img src="ui/images/static/personnes.svg" alt="portrait de Ole Worm, médecin, naturaliste et collectionneur danois du XVIe siècle" class="responsive"></img>
  </div>
</a>
</td>
<td>
<a href="/dyrin/index/auteurs.html">
  <div class="index_auteurs">
  <h1>Auteurs</h1>
    <img src="ui/images/static/auteurs.svg" alt="portrait de Ole Worm, médecin, naturaliste et collectionneur danois du XVIe siècle" class="responsive"></img>
  </div>
</a>
</td>
</tr>
<tr>
<td>
<a href="/dyrin/index/artistes.html">
  <div class="index_artistes">
  <h1>Artistes</h1>
    <img src="ui/images/static/artistes.svg" alt="portrait de Ole Worm, médecin, naturaliste et collectionneur danois du XVIe siècle" class="responsive"></img>
  </div>
</a>
</td>
<td>
<a href="/dyrin/index/themes.html">
  <div class="index_themes">
  <h1>Themes</h1>
    <img src="ui/images/static/themes.svg" alt="portrait de Ole Worm, médecin, naturaliste et collectionneur danois du XVIe siècle" class="responsive"></img>
  </div>
</a>
</td>
<td>
<a href="/dyrin/index/zoonymes.html">
  <div class="index_zoonymes">
  <h1>Zoonymes</h1>
    <img src="ui/images/static/zoonymes.svg" alt="portrait de Ole Worm, médecin, naturaliste et collectionneur danois du XVIe siècle" class="responsive"></img>
  </div>
</a>
</td>
</tr>
</table>
</section>
</div>
